<h3>Usuario autenticado: {{ user.username }}</h3>
<p><strong>Nombre:</strong> {{user.first_name}}</p>
<p><strong>Apellidos:</strong> {{user.last_name}}</p>
<p><strong>Email:</strong> {{user.email}}</p>
<p><strong>Tipo:</strong> {{user.personclaveunica.run_type}}</p>
<p><strong>Num:</strong> {{user.personclaveunica.run_num}}</p>
<p><strong>DV:</strong> {{user.personclaveunica.run_dv}}</p>
<a href="{% url 'logout' %}">Cerrar sesion</a>
{% if url_logout %}
    <iframe src="{{url_logout}}" style="display: none;"></iframe>
{% endif %}
